*.csproj.user
**/bin
**/obj
**/debug
**/node_modules
**/babel_cache/
**/release
**.vs
**.cache
src/ELearning.Web/Dev/_serve
src/ELearning.Web/Dev/_build
src/ELearning.Web/wwwroot
.idea/
**/.vscode
/ELearning.sln.DotSettings.user
.fleet/
/Tests/IntegrationTests/*.user
src/logs/*
src/ecklogs/*
